<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学业奖学金预算</title>
</head>
<body>
    <div align="center">
        <h1>学业奖学金预算</h1>
    </div>
    <div align="center">
        <form action="/res", method="post">
            <lable>985推免生权重</lable>
            <input value="9" name="985推免" placeholder="输入985推免生权重"><br>
            <lable>211推免生权重</lable>
            <input value="7" name="211推免" placeholder="输入211推免生权重"><br>
            <lable>985统考生权重</lable>
            <input value="5" name="985统考" placeholder="输入985统考生权重"><br>
            <lable>211统考生权重</lable>
            <input value="3" name="211统考" placeholder="输入211统考生权重"><br>
            <lable>双非推免生权重</lable>
            <input value="1" name="双非推免" placeholder="输入双非推免生权重"><br>
            <br><br>
            <lable>2020级预算</lable>
            <input value="39176" name="2020级" placeholder="输入2020级预算"><br>
            <lable>2021级预算</lable>
            <input value="51264" name="2021级" placeholder="输入2021级预算"><br>
            <lable>2022级预算</lable>
            <input value="51840" name="2022级" placeholder="输入2022级预算"><br>
            <br>
            <input type="submit" value="计算" style="width:5em;height: 1.5em">
        </form>
    </div>
</body>
<style>
input{
    font-size:1em;
    height:1em;
    border-radius:8px;
    border:1px solid #c8cccf;
    color:#986655;
    outline:0;
    text-align:center;
}
</style>
</html>